<nz-collapse>
    <nz-collapse-panel
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
    >
      <nz-card [nzBordered]="false" style="background-color: #EDEDED; color: #9ca4ce; border-radius: 15px;">
        <p>
          CBZ Savings Account offers flexible,everyday banking with unlimited
          deposits and withdrawals,low service fees, and convinient access via
          ATM, branch, online and mobile banking. Ideal for individuals and
          business, it provides essentials features like account
          alerts,checkbooks, and secure transactions for easy money management.
        </p>
      </nz-card>
      <div style="display: inline-flex">
        <nz-card [nzBordered]="false" nzTitle="Overview" style="color: #9ca4ce; width: 50%;">
          <p>
            Offers a convinient and safe method of making payments. The ATM
            offers an alternative method of accessing cash.
          </p>
          <ul>
            <li>Agency Banking</li>
            <li>CBZ Touch Mobile Banking</li>
            <li>Internet Banking</li>
            <li>ATM/POS Debit Card</li>
            <li>E-Statements</li>
            <li>SMS ALerts</li>
          </ul>
        </nz-card>
        <nz-card [nzBordered]="false" nzTitle="Features" style="color: #9ca4ce;">
          <p>The CBZ Account has the following features and benefits:</p>
          <ul>
            <li>
              Access to account around the clock through CBZ Touch App and
              Internet Banking
            </li>
            
            <li>Cheque book issued with crossed cheques</li>
            <li>Cheque Guarantee Card,available on application</li>
            <li>ATM card for use on CBZ and Zimswitch Network</li>
            <li>No minimum balance</li>
            <li>An array of payment options by cheque,Debit Card or Inter-Bank Tranfer</li>
            <li>Stop and deposit orders can be arranged</li>
          </ul>
        </nz-card>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  